pre {
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    text-align: center;
    background-image: url("/static/img/shinshu2016eyecatch.png");
    background-size: cover;
}

h2 {
    padding-top: 10px;
    color: #FFF;
}

h6 {
    color: #FFF;
}

.form-signin {
    max-width: 300px;
    margin: 0 auto;
}

.form-control {
    margin-bottom: 5px;
}

.link-box {
    margin: 10px 0;
}

.link-box-inner {
    background: #140661;
    width:250px;
    height:250px;
    margin: 0 auto;
    font-size: 20px;
    vertical-align: center;
    text-align: center;
    color: #FFF;
}

.infobox {
    background-color: #140661;
}

body {
}

footer {
    text-align: right;
    padding-right: 10px;
    padding-top: 2px; }
    footer a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

/* smart phones */
@media screen and (max-device-width: 480px) {
}
